/* Basic Reset */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Set up some defaults */
html {
  font-size: 16px; /* easy scaling */
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
  padding: 1.5rem;
  position: relative;
}

/* Links */
a {
  text-decoration: none;
  color: #000000;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.4rem;
  line-height: 1.2;
}

/* Paragraphs */
p {
  margin-bottom: 1em;
}

/* Lists */
ul, ol {
  list-style-type: none;
  margin-left: 1.5rem;
  margin-bottom: 1em;
}

.material-symbols-outlined{
  font-size: 20px;
}
.logo{
  font-size: 4rem;
}
nav ul li{
  display: flex;
  gap: 4px;
  align-items: center;
}
nav ul{
  padding: 2rem 1rem 1rem;
}
span.tip{
  font-size: 12px;
  color: rgba(0,0,0,0.5);
  position: relative;
  margin-top: 9px;
}
span.tip::after{
  content: '*';
  position: absolute;
  left: -10px;
  top: -10px;
  font-size: 1.4rem;
  font-weight: 600;
}
nav ul li a:hover{
  cursor: pointer;
}
nav{
  display: none;
}
nav:target{
  display: block;
}
nav ul li{
  margin-bottom: .7rem;
}
main{
  width: 90%;
  max-width: 360px;
  margin: 0 auto;
}
main h1{
  margin-top: 2rem;
  text-align: center;
  font-weight: 700;
  font-size: 5.5rem;
}
main > p{
  text-align: center;
  margin:1rem 0 4rem;
  color: rgba(0,0,0,0.6);
}
section{
  padding-top: 2rem;
}
section h2{
  font-size: 2.7rem;
  text-align: center;
  margin-bottom: 2rem;
}
.card-wrap{
  display: flex;
  flex-direction: column;
  gap: .8rem
}
.card,
.contact-wrap{
  background-color: rgba(3,3,3,0.1);
  padding: 1rem;
  border-radius: 4px;
  transition: transform 0.4s ease;
}
.card h3{
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 1.6;
}
.card p{
  color: rgba(0,0,0,0.6);
  font-size: .8em;
}
.card:hover,
.contact-wrap:hover{
  transform: scale(1.03);
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}
.cta{
  padding: .6rem 1rem;
  border-radius: 3px;
  outline: none;
  border: 1px solid rgba(3,3,3,0.5);
  margin-top: 1.5rem;
  cursor: pointer;
}
.menu{
  font-size: 2.8rem;
  position: absolute;
  top: 2.3rem;
  right: 10vw;
}
aside{
  padding: 1rem .6rem;
  margin-top: 3rem;
  border: 1px solid rgba(3,3,3,0.5);
}
aside ul{
  list-style-type: circle;
}
#experience{
  text-align: center;
}
#experience p:first-letter{
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0 0 20px 4px;
  color: rgba(3,3,3,0.7);
}
footer{
  max-width: 800px;
  margin: 4rem auto;
}
footer h2{
  text-align: center;
  margin: 1rem 0 1rem;
}
footer p{
  font-size: 14px;
}
.contact-wrap > div{
  margin-bottom: 2rem;
}
.contact-wrap div a{
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

/* Day 14 Styles */

aside img{
  width: 100%;
}
aside audio {
  width: 100%;
}
video{
  width: 100%;
}
iframe{
  width: 100%;
}
